

/*se puede poner de base este css*/
/*instrucciones específicas para la pàgina pilas o index  (#90f0e5 antiguo color)*/

/*instrucciones para pantallas small 320px*/
@media only screen and (max-width: 320px) {

	header nav ul li {
		font-size:16px!important;
	}
	
	form div{
		font-size:15px;
	}
	
	ol li{
		padding:0px 10px;
	}
}
/*instrucciones para pantallas small 375px*/

@media only screen and (max-width: 375px) {

	header nav ul li {
		font-size:15.5px!important;
	}
	
	
	form div{
		font-size:16px;
	}
}

/*instrucciones para pantallas small 375px*/

/*instrucciones para pantallas small 425px*/

@media only screen and (max-width: 425px) {

	header nav ul li {
		font-size:12px;
	}
	
	form div{
		font-size:17px;
	}
	
	footer div div div p:before{
	display:none;
	}
	footer div div div p a i:hover{
		color:#00FFFF;
	}
}

/*instrucciones para pantallas small 425px*/
body{
	background-color:#f1f3f4;
}

hr{
	border-top: 2px solid rgba(246,189,82,1);
}

#cuentaregresiva{
	display:flex;
	justify-content:center;
}

.simply-section{
	width:85px;
	height:75px;
	margin:0px 5px;
	border-radius: 10px;
	background:white;
	display:flex;
	align-items:center;
	justify-content:center;
}


header{
	position:absolute;
	top:0;
	left:0;
	padding:0 100px 0 0;
	background-color: rgba(250,192,84,1.0);
	width:100%;
	box-sizing:border-box;
	animation-name:arribanav;
	Animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@keyframes arribanav{
	 from {background-color: rgb(255, 195, 77);}
     to {background-color: rgb(255, 221, 153);}
}

.brand-logo{
	font-family:Arvo, sans-serif;
}

section h2{
	text-align:center;
}

section div.seleccionarnum{
	text-align:center;
	align-items:center;
	justify-content:center;
}

.link{
	text-decoration:none;
	font-size:22px;
	color:black;
}

.link:hover{
	color:gray;
	text-decoration:underline;
}


footer{
	margin:30px 0px 0px 0px;
	padding:0px 20px;
	position:relative;
	background-color: #292929;
	color:white;
	border-radius: 3px;
	box-shadow: 1px 1px 7px black, -1px -1px 6px black;
	font-size:15px!important;
	font-family:Arvo, sans-serif;
}

 footer div div p {
	 position:relative;
	 display:inline;
	 padding:20px 0px;
	 margin:20px 0px;
 }
 
footer div {
	position:relative;
	list-style:none;
	padding:8px; 
	text-align:center;
}

footer div div div p .fa{
	font-size:2em;
	color:#969696;
}



footer div div div p:before{
	font-family: fontAwesome;
	position:absolute;
	top:3px;
	left:0px;
	font-size:2.02em;
	height:0;
	overflow:hidden;
	transition:0.5s ease-in-out;
}

footer div div div p i:hover{
		color:#00FFFF;
	} 
	
footer div div div p:nth-child(2)::before{
	content:'\f16a';
	color:#ff0000;
	border-bottom:4px solid #ff0000 ;
}
footer div div div p:nth-child(3)::before{
	content:'\f16d';
	color:rgb(248,187,8);
	border-bottom:4px solid rgb(248,187,8);
}

footer div div div p:hover::before{
	height:75%;
}



